{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block active_home %}active{% endblock %}
{% block content %}
<h1>Home</h1>
<p>Welcome to the FYP Revit Chatbot Tools! <br>Do note that this website is not optimized for mobile viewing. You can view this website as a desktop site or from a PC/laptop for a slightly better viewing experience.</p>
<ul>
    <li>Go to <a href="/chat" target="_blank">Chat</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li>Unfortunately, there is no good way to "logout" from this website other than to close the browser, not just this tab but all the tabs and the whole browser, and go to this website again. </li>
    <li>Otherwise, if you are on mobile or don't want to close the browser, you will have to go to your profile and change your password.</li>
    <li>It's the browser's fault btw not mine, the browser is too intelligent.</li>
</ul>
{% endblock %}