<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/video_table">Search Videos</a></li>
            <li><a href="/get_query_logs">Query Logs</a></li>
            <li><a href="/manage_videos">Manage Videos</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>