{% extends "base.html" %}
{% block title %}Manage Videos{% endblock %}
{% block active_manage %}active{% endblock %}
{% block content %}
<h1>Autodesk Videos</h1>
<p>To cancel your changes (if you haven't yet commit changes), please refresh the page.</p>
<p>
    Ideally, there should only be a maximum of one person making and <strong>committing</strong> changes at any given time. 
    Remember to press the <a href="#commit-btn">commit button</a> after you have made changes to the Autodesk videos and/or the <a href="#yt-section">Youtube videos</a>.
</p>
<div id="video-list">
    {% for video in videos %}
    <div class="video-item" data-id="{{ video.Id }}">
        <h2>{{ video.Title }}</h2>
        <p>{{ video.Description }}</p>
        <a href="{{ video.Video_URL }}" target="_blank">Video Download Link</a>
        <a href="{{ video.Page_URL }}" target="_blank">Watch Video</a>
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
    </div>
    {% endfor %}
</div>

<h2>Add New Autodesk Video</h2>
<form id="add-form">
    <input type="text" id="add-title" placeholder="Title" required>
    <textarea id="add-description" placeholder="Description or alternate titles (use ' | ' to seperate extra titles eg. Title 1 | Title 2)"></textarea>
    <input type="url" id="add-video-url" placeholder="Video URL" required>
    <input type="url" id="add-page-url" placeholder="Page URL" required>
    <button type="submit">Add Video</button>
</form>

<h1 id="yt-section">YouTube Videos</h1>
<p>
    To manage the Youtube videos go to the <a href="https://studio.youtube.com/" target="_blank">Youtube Studio</a> to add, edit or delete videos. When adding new videos, make sure that you select the Revit MEP playlist.
    The video Description will be used to give the video alternate titles or provide more information and context to improve search results (use ' | ' to seperate extra titles or information eg. Title 1 | Title 2 | some context). You can also just leave it blank.
</p>
<p>If you only want to temporarily remove videos, which is recommended, go to the <a href="https://www.youtube.com/playlist?list=PL2KGy-TyLFXZyWk7frVvUHrFtjCl9mWLl" target="_blank">Youtube Playlist</a> and remove the videos you want to remove by clicking on the 3 dots beside the video.</p>
<p>Only the youtube videos inside the <a href="https://www.youtube.com/playlist?list=PL2KGy-TyLFXZyWk7frVvUHrFtjCl9mWLl" target="_blank">Revit MEP</a> playlist will be used.</p>
<p>After you have made changes to the playlist and/or the Autodesk videos, you need to press the button below to update the database.</p>

<button id="commit-btn" title="Changes are PERMANENT. Check before committing">Commit Changes</button>
<div class="loading" id="loading-screen">Loading&#8230;</div>
<p>Don't press the commit button if there are no changes made. ¯\_(ツ)_/¯</p>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}