{% extends "base.html" %}
{% block title %}Search Videos{% endblock %}
{% block content %}
<h1>Video Table</h1>
<form action="/video_table" method="post">
    <input type="text" name="search" id="search" placeholder="Search (case sensitive)" size="60" value="{{ query }}">
    <div class="form-group">
        <button title="Clear search bar" type="button" class="clear" onclick="document.getElementById('search').value=''">Clear</button>
        <button type="submit">Search</button>
        <label class="checkbox-label">
            <input type="checkbox" name="embed" id="embed" {{ ticked }}>Semantic Search
        </label>
    </div>
</form>
<br>
{% if video_table %}
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>URL</th>
    </tr>
    {% for row in video_table %}
    <tr>
        <td>{{ row.Id }}</td>
        <td>{{ row.Title }}</td>
        <td><a href="{{ row.URL }}" target="_blank">{{ row.URL }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No videos found</p>
{% endif %}
{% endblock %}